@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary: #111926;
  --white: #fff;
  --background: #f8f8ff;
  --gray: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", system-ui;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.dropzone-box {
  background-color: var(--white);
  width: 100%;
  max-width: 36rem;
  padding: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  justify-content: center;
}

.dropzone-box h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.dropzone-area {
  padding: 1rem;
  position: relative;
  margin-top: 1rem;
  min-height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px dashed var(--primary);
  border-radius: 1rem;
  color: var(--primary);
  cursor: pointer;
}

.dropzone-area [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dropzone-area .file-upload-icon svg {
  height: 5rem;
  width: 5rem;
  margin-bottom: 0.5rem;
  stroke: var(--primary);
}

.dropzone--over {
  border-style: solid;
  background-color: #a8a8f92d;
}

.credit{
  margin: 1rem auto 0;
}



.dropzone-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray);
  flex-wrap: wrap;
  gap: 1rem;
}

.dropzone-actions button {
  flex-grow: 1;
  min-height: 3rem;
  font-size: 1.2rem;
}

.dropzone-actions button:hover {
  text-decoration: underline;
}

.dropzone-actions button[type="reset"] {
  background-color: transparent;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--primary);
  cursor: pointer;
}
.dropzone-actions button[type="submit"] {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  color: var(--white);
  padding: 0.5rem 1rem;
  cursor: pointer;
}
