@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #09090b;
}

/* Style for input group  ==========================>>>>>>>>>   */

.input-group {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 50px;
  max-width: 200px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #6e6e71;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  border: 1px solid #6e6e71;
  width: 100px;
  min-height: 50px;
  padding: 0.5em 1em;
  /* border: none; */
  border-radius: 0 6px 6px 0;
  background-color: #282828;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: #000000;
}

.input:focus,
.input:focus-visible {
  border-color: #c5c5c5;
  outline: none;
}

/* input styles ends here  ================================>>>>>>>>>>*/

.container {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.card {
  position: relative;
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 270px;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #000000dc, #3c3c3cd7);
  clip-path: circle(400px at 50% -48.5%);
}

.header {
  position: relative;
  height: 265px;
}

.mail {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  color: #fff;
  opacity: 0.8;
  transition: 0.3s;
  z-index: 3;
}
.mail:hover {
  opacity: 1;
}

.menu-icon {
  position: absolute;
  width: 21px;
  height: 16px;
  top: 1.4rem;
  left: 1.9rem;
  z-index: 3;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
}

.menu-icon:hover {
  opacity: 1;
}

.menu-icon .center {
  position: absolute;
  height: 2px;
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 1px;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}

.menu-icon::before {
  top: 0;
}

.menu-icon::after {
  bottom: 0;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main img {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 4px solid #dfdfdf;
  margin-bottom: 2px;
  overflow: hidden;
  cursor: pointer;
}

.name {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin: 5px 0;
  text-transform: uppercase;
}

.sub-name {
  font-family: "Cutive Mono", monospace;
  font-size: 1.2rem;
  opacity: 0.8;
  color: #fff;
}

.content {
  display: flex;
  padding: 1.7rem 2.5rem 2.6rem 2.5rem;
}

.right {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 2.1rem;
}

.number {
  font-size: 2.1rem;
  font-weight: 200;
  color: #333;
  line-height: 1.2;
}

.number-title {
  font-size: 0.7rem;
  color: #666;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title {
  position: relative;
  color: #555;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0 0 3px 0;
  margin-bottom: 0.9rem;
  display: inline-block;
}

.title::after {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 60%;
  background-color: #555;
  bottom: 0;
  left: 0;
}

.bio {
  color: #666;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7;
}

.text {
  color: #666;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.7;
}

.buttons-wrap {
  display: flex;
  margin-top: 50px;
}

.follow-wrap,
.share-wrap {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.follow-wrap:hover,
.share-wrap:hover {
  flex: 5;
}

.follow {
  padding: 9.6px 0;
  width: 100%;
  background: linear-gradient(to right, #2c2d2e 0%, #2729296d 140%);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  margin-right: 3px;
}

.share {
  padding: 7.6px 0;
  width: 100%;
  border: 1px solid #09090b;
  color: #09090b;
  text-decoration: none;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 3px;
  border-radius: 2px;
}
